.Footer {
  .container {
    max-width: 1400px;
    .grid {
      h2 {
        color: #404145;
        font-weight: 700;
        font-size: 16px;
      }
      .flex {
        ul {
          li {
            margin-bottom: 16px;
            a {
              color: #74767e;
              font-size: 16px;
              font-weight: 500;
            }
          }
        }
      }
    }
    .footer-bottom {
      .left {
        .fiverr-logo-footer {
        }
      }
      .right {
        .socials {
          li {
            margin-right: 25px;
            .link {
              .icon {
                width: 20px;
                height: 20px;
                font-size: 25px;
                color: rgb(133, 133, 133);
              }
            }
          }
        }
        .setting {
          ul {
            li {
              margin-right: 25px;

              span {
                font-size: 16px;
                font-weight: 500;
                color: rgb(133, 133, 133);
              }
            }
          }
        }
      }
    }
  }
}
