.menuItem {
  .container {
    .top-bar {
      .left {
        .dropdown {
          button {
            color: black;
            background: white;
            border: 1px solid #dadbdd;
            margin-right: 5px;
          }
        }
      }
      .right {
        .check {
          .form-check {
            margin-left: 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .menuItem {
    .container {
      margin-top: 25px;
      .top-bar {
        flex-direction: column;
        .left {
          margin-bottom: 10px;
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .menuItem {
    .container {
      // margin-top: 25px;
      .top-bar {
        // flex-direction: column;
        .left {
          // margin-bottom: 10px;
        }
      }
    }
  }
}