.header-menu {
    display: none;
    .container {
        max-width: 1400px;
        ul {
            display: flex;
            justify-content: space-between;
        }
        .ant-menu::before {
            content: none;
        }
    }
}
.Header.scroll {
    .header-menu {
        border-top: 1px solid #ccc;
        display: block;
    }
}