.MenuDetail {
  .container {
    .content-banner {
      position: relative;
      img {
      }
      .img-content {
        position: absolute;

        button {
          border: 1px solid white;
          border-radius: 3px;
          padding: 5px 10px;
        }
      }
    }
    .content-carousel {
      .top {
        .icon {
        }
      }
      .middle {
        .row {
          .col {
            button {
              border: 1px solid #efeff0;
              border-radius: 12px;
              padding: 5px 10px;
              box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

              img {
                margin-right: 15px;
              }
              span {
                margin-right: 10px;
              }
            }
          }
        }
      }
      .menu-detail {
        .list {
          .row {
            .list-group-item {
              border: none;
              padding: 0;
            }
          }
        }
      }
      .bottom {
        ul {
          span {
            background: #efeff0;
            border-color: #efeff0;
            margin: 0 6px 16px;
            padding: 5px 12px;
            border-radius: 15px;
            font-weight: 600;
            color: #74767e;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .MenuDetail {
    .container {
      // margin-top: 25px;
      .content-banner {
        img {
          display: none;
          // background-image: url("https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/attachments/generic_asset/asset/3f1b7ea10295936b6846bcff0afd38cf-1626595415227/graphics-design-mobile.png");
          // background-position: center;
          // background-size: cover;
          // width: 100%;
          // height: 230px;
        }
        .img-2 {
          background-image: url("https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/attachments/generic_asset/asset/3f1b7ea10295936b6846bcff0afd38cf-1626595415227/graphics-design-mobile.png");
          background-position: center;
          background-size: cover;
          width: 100%;
          height: 230px;
        }
      }
      .content-carousel {
        .menu-detail {
          .list {
            .row {
              .col-3 {
                width: calc(100% / 3);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .MenuDetail {
    .container {
      .content-carousel {
        .menu-detail {
          .list {
            .row {
              .col-3 {
                width: calc(100% / 2);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .MenuDetail {
    .container {
      .content-carousel {
        .menu-detail {
          .list {
            .row {
              .col-3 {
                width: 100%;
                img {
                  margin: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}
